/* general */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* calculador */

.calculadora {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  gap: 20px;
}

#pantalla {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px;
}

.teclado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 5px;
}

.fila {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
